extends ../layout.pug
block breadcrumb
    p.fa.fa-user &nbsp; | Les utilisateurs

block content
    div.d-flex.justify-content-between
      div
        h1 Liste des utilisateurs
      div
        a.btn.btn-primary(href="#") Ajouter un utilisateur
    hr
    table
      thead
        tr
          th Civilité
          th Nom
          th Email
          th Téléphone
      tbody
        each user in users
          tr
            td(align="center")= user.civility
            td(align="center")= `${user.firstname} ${user.lastname}`
            td(align="center")= user.email
            td(align="center")= user.phone
            td
              a.btn(href=`/admin/user/edit/${user.id}`)
                  button.btn.btn-primary
                      i.fa.fa-pen
            td
              if user.id != session.user.id
                a(id=`myInput${user.id}` href=`/admin/user/delete/${user.id}` data-bs-toggle="modal" data-bs-target="#myModal")
                    button.btn.btn-danger
                        i.fa.fa-trash

    .modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="myModalLabel") Confirmation de suppression
            button.close(type="button" data-bs-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body Souhaitez-vous réellement supprimer l'utilisateur ?
          .modal-footer
            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Annuler
            a.btn.btn-danger(id="delete_link" href=`/admin/user/delete/id`) Supprimer

    block scripts
      script(src="/js/modal_delete.js")
